

<%= form_for @list, url: lists_path do |f| %>
    曲<%= f.add_nested_fields_link :texts, '追加', role: 'button' %>
    <table>
      <tbody>
        <tr>
          <th>曲名</th>
          <th></th>
        </tr>
        <tr>
            <%= f.nested_fields_for :texts, wrapper_tag: :tr do |q| %>
                <td><%= q.text_field :name %></td>
                <td><%= q.remove_nested_fields_link 'Delete', role: 'button' %></td>
            <% end %>
        </tr>
    </tbody>
    <%= f.submit 'aaa' %>
</table>
<% end %>