<main>
	<div class="form-search">
		<%= search_form_for(@q, url:textbooks_search_path) do |f| %>
		  <%= f.search_field :name_cont, :class => "search-form" %>
		<%= f.submit "教科書を探す",:class => "mypage-search-btn search-btn" %>
  		<% end -%>
  	</div>
	<table class="text-index-table">
		<tr>
			<td><span>教科書名</span></td>
			<td><span>ユーザー名</span></td>
			<td><span>大学名</span></td>
		</tr>
		<% @textbooks.each do |textbook| %>
		<%= form_for @request do |q| %>
		<tr>
			<td><%= textbook.name %></td>
			<td>
			<%= link_to textbook.user.name, user_path(textbook.user) %>
			</td>
			<td><%= textbook.user.campus_id %></td>
			<td>
				<%= q.submit "借りる",:class =>"mypage-search-btn search-btn" %>
			</td>
		<% end %>
		<% end -%>
		
	</table>
</main>