

<table>
	<tr>
		<td>教科書名</td>
		<td>ユーザー名</td>
		<td></td>
	</tr>

	<% @requests.each do |request| %>
	<tr>
		<td><%= request.applicant_id %></td>
		<td><%= request.getApplicantUser.name %></td>
		<td><%= request.getText %></td>
	</tr>
	<% end %>
</table>
<%= form_for(@request) do |f| %>
	
    <%= f.submit %>
<% end %>