<h1>Requests#index</h1>
<p>Find me in app/views/requests/index.html.erb</p>


<table>
	<tr>
		<td>教科書名</td>
		<td>ユーザー名</td>
		<td></td>
	</tr>

	<% @requests.each do |request| %>
	<tr>
		<td><%= request.applicant_id %></td>
		<td><%= request.getApplicantUser %></td>
		<td><%= request.getText %></td>
	</tr>
	<% end %>
</table>
<%= form_for(@request) do |f| %>
	
    <%= f.submit %>
<% end %>